* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(36, 27, 40);
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
}

#forAll {
    color: white;
    font-family: "Garamond", "Helvetica", "Verdana", "Arial";
}

#content {
    padding: 50px;
    margin-right: 140px;
    font-size: 22px;
}

/*
Menu
 */

#formenu {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 30px;
    right: 50px;
}

#formenu ul {
    padding-left: 20px;
}

#formenu ul li {
    text-decoration: none;
    padding-bottom: 10px;
    font-size: 24px;
}

#formenu ul li.active {
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 24px;
}

/*
FOMR do ANDROIDAPP
 */

.forAndroidAPPimages{
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
}

img.appimages{
    width: 200px;
    height: 500px;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
}

/*
FORM do obrazka
 */

#forFile {
    min-width: 350px;
    min-height: 350px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
}


#tmpText {
    height: fit-content;
    width: fit-content;
    margin: auto;
}

#forOptions {
    height: fit-content;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#forInfotoImage {
    display: none;
    height: fit-content;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

#forSendForm {
    display: none;
    height: fit-content;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

/*
  Sekcja do stylu pojedyńczych elementów rozwijanych
 */


.mainElement {
    width: 100%;
    height: fit-content;
    margin-bottom: 30px;
}

.headerElement {
    position: relative;
    padding: 10px;
    font-size: 25px;
    background-color: rgb(88, 76, 84);
    border-radius: 15px;

}

.option {
    cursor: pointer;
    position: absolute;
    right: 30px;
    height: fit-content;
    width: fit-content;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.contentElement {
    transition-delay: 500ms;
    background-color: rgb(88, 76, 84);
    width: 90%;
    display: none;
    height: fit-content;
    padding: 20px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
}

.contentElement ol {
    padding: 20px;
}

.imgCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.divforButtonSend {
    width: 100%;
    text-align: center;
}

/*
 Input styles
 */

input[id=inputemail], input[id=inputtitle], input[id=inputtext] {
    width: 100%;
    font-size: 22px;
    padding: 12px 12px;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    background-color: rgb(36, 27, 40);
    color: white;
}

input[id=inputtext] {
    min-height: 200px;
}

.sendButton {
    font-size: 22px;
    background-color: rgb(36, 27, 40);
    color: white;
    padding: 20px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#labelinputemail, #labelinputtitle, #labelinputtext {
    color: red;
    font-weight: bold;
    font-size: 22px;
}

/*
SPINER
 */

.loader {
    margin-left: auto;
    margin-right: auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #241b28 #584c54;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #584c54;
}

*::-webkit-scrollbar-thumb {
    background-color: #241b28;
    border-radius: 5px;
    border: 1px solid #000;
}

/*
Results element

 */

#forAllContener {
    height: fit-content;
    width: 700px;
    padding: 20px;
}

.forTitleinResultContner {
    padding: 20px;
    width: fit-content;
    height: fit-content;
}

.forResultinContener {
    padding: 20px;
    display: flex;
    overflow-x: auto;
}

.resultElement {
    padding: 20px;
    margin: 0px 10px;
    font-size: 22px;
    background-color: rgb(36, 27, 40);
    color: white;
    border-radius: 30px;
}

.secoundModel {
    padding: 20px;
    margin: 10px auto;
    width: fit-content;
    font-size: 22px;
    background-color: rgb(36, 27, 40);
    color: white;
    border-radius: 30px;
}