<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <script defer src="{{ url_for('static', path='/script.js') }}"></script>

</head>
<body>
<div id="forAll">
    <div id="content">
        <div id="Home" class="mainElement">
            <div class="headerElement">
                <div style="margin-right: auto; margin-left: auto; width: fit-content">iScanner WEB API</div>
            </div>
            <div class="contentElement" style="display: block">
                It is a simple application where you can classify an image with the use of three implemented
                models:</br>
                <ol>
                    <li>Mobilenet</li>
                    <li>Inception</li>
                    <li>my Model</li>
                </ol>
                </br>
                The models are described in the section below.
                You can upload your own photo, classify and compare the results</br></br>
                Enjoy!!
            </div>
        </div>
        <div id="Models" class="mainElement">
            <div class="headerElement">Models
                <div onclick='openOption("Models")' class="option">&#9660</div>
            </div>
            <div class="contentElement"></div>
        </div>
        <div id="Test" class="mainElement">
            <div class="headerElement">Test the model's
                <div onclick='openOption("Test")' class="option">&#9660</div>
            </div>
            <div class="contentElement"></div>
        </div>
        <div id="AndroidAP" class="mainElement">
            <div class="headerElement">Android AP
                <div onclick='openOption("AndroidAP")' class="option">&#9660</div>
            </div>
            <div class="contentElement"></div>
        </div>
        <div id="Contact" class="mainElement">
            <div class="headerElement">Contact
                <div onclick='openOption("Contact")' class="option">&#9660</div>
            </div>
            <div class="contentElement"></div>
        </div>
    </div>


    <div id="formenu">
        <ul>
            <li class="Home active"><a href="#Home"> TOP</a></li>

            <li class="Models"><a href="#Models">Models</a></li>

            <li class="Test"><a href="#Test">Test</a></li>

            <li class="AndroidAP"><a href="#AndroidAP">Android AP</a></li>

            <li class="Contact"><a href="#Contact">Contact </a></li>
        </ul>
    </div>
</div>


</body>
</html>